<header class="header">
    <div class="logo">
        <img class="logobytehome" src="http://118.70.187.211:5001/static/images/logo.webp" alt="logo Bytehome"
            srcset="">
    </div>
    <nav class="nav-menu">
        <a href="#" onclick="showSection('dashboard')">Dashboard</a>
        <a href="#" onclick="showSection('products')">Sản phẩm</a>
        <a href="#" onclick="showSection('services')">Dịch vụ</a>
        <a href="#" onclick="showSection('contact')">Liên hệ</a>
    </nav>
</header>