<div class="container_robot">
    <div class="header_robott">
        <span class="status-indicator">Hệ Thống Điều Khiển Robot</span>
    </div>
    <div class="main-content">
        <div class="left-panel">
            <div class="panel-title">Điều Khiển Di Chuyển </div>
        </div>
        <div class="direction-controls">
            <button class="control-button btn-up">

            </button>
            <button class="control-button btn-dow">
                <i class="pi pi-check"></i>
            </button>
            <button class="control-button btn-right">
                <i class="pi pi-check"></i>
            </button>
            <button class="control-button btn-left">
                <i class="pi pi-check"></i>
            </button>
        </div>
    </div>
</div>