<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                <a href="index.html" class="d-inline-block mb-3">
                    <h1 class="text-white">
                        Byte<span class="text-primary">.</span>Home
                    </h1>
                </a>
                <p class="mb-0">Byte Home</p>
                <p>
                    Chúng tôi mong muốn mang đến một không gian sống thông minh và
                    hiện đại với chi phí hợp lý nhất cho người dân Việt Nam.
                </p>
                <p>Tầm nhìn</p>
                <p>
                    Byte Home hướng đến trở thành đơn vị phát triển nhà thông minh
                    hàng đầu không chỉ trong nước mà còn trên Thế giới. Chúng tôi luôn
                    tiên phong đổi mới, ứng dụng kỹ thuật hiện đại, tích hợp công nghệ
                    tiên tiến vào cuộc sống mỗi người dân.
                </p>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                <h5 class="text-white mb-4">Thông tin liên hệ</h5>
                <p>
                    <i class="fa fa-map-marker-alt me-3"></i>157/23 Pháo Đài Láng,
                    Láng Thượng, Đống Đa, TP. Hà Nội
                </p>
                <p><i class="fa fa-phone-alt me-3"></i>024 7301 3222</p>
                <p><i class="fa fa-envelope me-3"></i>hotrokhachhangbytehome.vn</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                <h5 class="text-white mb-4">Hỗ trợ</h5>
                <a class="btn btn-link" href>Giới thiệu</a>
                <a class="btn btn-link" href>Liên hệ</a>
                <a class="btn btn-link" href>Chính sách sử dụng</a>
                <a class="btn btn-link" href>Điều khoản sử dụng</a>
                <a class="btn btn-link" href>Tuyển dụng</a>
            </div>
            <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
                <h5 class="text-white mb-4">Dịch vụ</h5>
                <a class="btn btn-link" href>Cung cấp giải pháp nhà thông minh</a>
                <a class="btn btn-link" href>Giải pháp nhà thông minh</a>
                <a class="btn btn-link" href>Giải pháp bất động sản</a>
                <a class="btn btn-link" href>Giải pháp an ninh, bảo mật</a>
                <a class="btn btn-link" href>Giải pháp sản xuất bo mạch AI</a>
            </div>
        </div>
    </div>
    <div class="container wow fadeIn" data-wow-delay="0.1s">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">http://bytehome.vn</a>,
                    All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By
                    <a href="bytehome.vn">BYTEHOME</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href>Home</a>
                        <a href>Cookies</a>
                        <a href>Help</a>
                        <a href>FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->