<div class="sidebar">
        <h3>Menu</h3>
        <ul class="sidebar-menu">
                <li>
                        <a [routerLink]="'/admin/dashboard'" routerLinkActive="active">
                                <span class="icon">👥</span>
                                <span class="label">Dashboard</span>
                        </a>
                </li>
                <li>
                        <a [routerLink]="'/admin/control'" routerLinkActive="active">
                                <span class="icon">👥</span>
                                <span class="label">Điều Khiển</span>
                        </a>
                </li>

        </ul>

</div>