<!-- Navbar Start -->
<div class="sticky-top tw-bg-transparent header-color-animate ">
    <div class="tw-container tw-px-5 md:tw-px-0">
        <nav class="navbar tw-h-[60px] !tw-p-0 navbar-expand-lg navbar-dark p-0">
            <a href="index.html" class="tw-h-[60px] tw-py-3 tw-inline-block">
                <!-- <h1 class="text-white">AI<span class="text-dark">.</span>Tech</h1>		-->
                <img class="tw-h-full tw-w-auto" src="img/logo.webp" alt="Logo" />
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <img class="tw-h-8 tw-w-auto0" src="/img/menu-icon.svg" alt>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div
                    class="navbar-nav ms-auto  !tw-bg-white/95 !tw-backdrop-blur-3xl lg:!tw-bg-transparent lg:!tw-backdrop-blur-none">
                    <a href="index.html" class="nav-item nav-link nav-link-full active">Trang
                        chủ</a>
                    <a href="about.html" class="nav-item nav-link nav-link-full ">Giới
                        thiệu</a>
                    <div class="nav-item dropdown">
                        <a href="product.html" class="nav-link nav-link-full dropdown-toggle"
                            data-bs-toggle="dropdown">Sản phẩm</a>
                        <div class="dropdown-menu mt-2">
                            <a href="product.html" class="dropdown-item">Trung tâm điều
                                khiển</a>
                            <a href="product.html" class="dropdown-item">Công tắc</a>
                            <a href="product.html" class="dropdown-item">Đèn chiếu
                                sáng</a>
                            <a href="product.html" class="dropdown-item">Camera và Cảm
                                biến</a>
                            <a href="product.html" class="dropdown-item">Rèm cửa</a>
                        </div>
                    </div>
                    <a href="service.html" class="nav-item nav-link nav-link-full ">Giải pháp</a>
                    <a href="project.html" class="nav-item nav-link nav-link-full ">Dự
                        án đã triển
                        khai</a>
                    <a href="contact.html" class="nav-item nav-link nav-link-full">Liên hệ</a>
                </div>
                <button type="button" class="btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                    data-bs-target="#searchModal"><i class="fa fa-search "></i></button>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->