<!-- <div class="container">
    <div class="header">
        <app-header></app-header>
    </div>
    <aside class="sidebar">

        <app-sidebar></app-sidebar>
    </aside>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div> -->
<div class="container">
    <app-header></app-header>

    <div class="main">
        <app-sidebar></app-sidebar>
        <div class="main1">
            <router-outlet></router-outlet>
        </div>

    </div>
    <div class="clearfix"></div> <!-- 👈 Dòng quan trọng để dọn float -->

    <app-footer></app-footer>
</div>