<!-- main-layout.component.html -->
<!-- <div class="container">
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="sidebar">

        <app-sidebar></app-sidebar>
    </div>
    <main class="main">
        <router-outlet></router-outlet>
    </main>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div> -->
<div class="container">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>